
@{
    ViewBag.Title = "Hata";
}

<h2>expedition not found</h2>
<br />
<div class="row">    
    <div class="contact-form-warp">
        <form class="contact-form">
            <button type="submit" formaction='@Url.Action("Index", "Home")' formmethod="get" class="login100-form-btn" style="margin-left:50px;">
                Turn Back
            </button>
        </form>
    </div>
</div>